@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-hover {
  @apply border-2 border-gray-500 text-gray-500 hover:scale-110 hover:border-[rgb(243,156,18)] hover:text-[rgb(243,156,18)] transition-transform duration-300 ease-in-out;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background:linear-gradient(180.00deg, rgba(14, 19, 23, 0) -42.448%,rgb(14, 19, 23) 94.994%), url("/images/main.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}



.header_content a{
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-align: center;
}

.main_content h2{
  color: rgb(243, 156, 18);
  font-size: 60px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0.6px;
  text-align: left;
}

.main_content h1{
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: 400;
  line-height: 135px;
  letter-spacing: 0.6px;
  text-align: left;
}
.main_content p{
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-align: left;
}


.burger_menu{
  background: rgb(35, 43, 53);
}

.mail{
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.6px;
}

.nav Link{
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.2px;
  text-align: left;
}