@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  background:linear-gradient(180.00deg, rgba(14, 19, 23, 0) -42.448%,rgb(14, 19, 23) 94.994%), url("/images/main.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.header_content button a{
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.4px;
  text-align: center;
}

.header_content button{
  transition: 0.3s ease;
}


.header_content button:hover{
  border: solid 1px rgb(243, 156, 18);
  transform: scale(1.1);
  box-shadow: 0 0 10px rgb(243, 156, 18);
}
.header_content button:hover a{
  color: rgb(243, 156, 18);
}


ul li a{
  transition: 0.3s ease;
}
ul li a:hover{
  color: rgb(243, 156, 18);
}

main{
  background: rgb(14, 19, 23);
}

.main_content h2{
  color: rgb(243, 156, 18);
  font-size: 60px;
  font-weight: 400;
  line-height: 82px;
  letter-spacing: 0.6px;
  text-align: left;
}

.main_content h1{
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: 400;
  line-height: 135px;
  letter-spacing: 0.6px;
  text-align: left;
}
.main_content p{
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-align: left;
}


.burger_menu{
  background: rgb(35, 43, 53);
}


.mail{
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.6px;
}

nav ul li a{
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.2px;
  text-align: left;
}
.burger_menu_img h2{
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-weight: 400;
  line-height: 101px;
  letter-spacing: 0.6px;
  text-align: center;;

}

.menu_button a{
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.4px;
  text-align: left;
}

.menu_button:hover{
  color: rgb(243, 156, 18);
  transform: scale(1.1);
}
.menu_button{
  transition: 0.2s ease;
}


.burger_menu_img{
    background:url("/images/menu_bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 688px;
    height: 100%;
}






.features_text{
  color: rgb(243, 156, 18);
  font-size: 40px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.6px;
  text-align: left;
}

.features_main_text{
  position: relative;
}

.features_main_text p{
  position: absolute;
  color: rgb(35, 43, 53);
  font-size: 180px;
  font-weight: 400;
  line-height: 243px;
  letter-spacing: 0.6px;
  text-align: left;
  z-index: 1;
}

.features_main_text h2{
  z-index: 2;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0.6px;
  text-align: left;
}


.features_card p{
  color: rgb(255, 255, 255);
  font-size: 26px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0.6px;
  text-align: left;
}

.middle_content p:nth-child(1){
  color: rgb(243, 156, 18);
  font-size: 40px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.6px;
  text-align: left;
}
.middle_content h2{
  color: rgb(255, 255, 255);
  font-size: 34px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0.6px;
  text-align: left;
}
.middle_content_text{
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
  text-align: center;
}
.middle_content button{
  border-radius: 29px;
  background: rgb(243, 156, 18);
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.4px;
  text-align: left;
  padding: 20px 72px;
  transition: 0.2s ease;
}

.middle_content button:hover{
  transform: scale(1,1);
  box-shadow: 0 0 8px rgb(243, 156, 18);
}

.menu_img a{
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.6px;
  text-align: left;
}

.menu_img_content:nth-child(2){
  background: url("/images/menu-2.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.menu_img_content:nth-child(3){
  background: url("/images/menu-3.png") no-repeat;
  background-position: center;
  background-size: cover;
}

.menu_wrapper{
  background: rgb(22, 27, 33);
}




.menu_about_card h2{
  color: rgb(243, 156, 18);
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.6px;
  text-align: center;
}

.menu_about_card p{
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}


.menu_about_card button:hover{
  background: rgb(243, 156, 18);
  color: white;
  border: 1px solid rgb(243, 156, 18);
  transform: scale(1,1);
}
.menu_about_card button{
  background: transparent;
  border: 1px solid rgb(243, 156, 18);
  border-radius: 9999px;
  font-size: 24px;
  color: rgb(243, 156, 18);
  transition: 0.3s ease;
}

.about_card_text{
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}


.menu_about_card:nth-child(1),
.menu_about_card:nth-child(3){
  border-bottom: 1px solid rgb(243, 156, 18);
  border-right: 1px solid rgb(243, 156, 18);
  border-left: 1px solid rgb(243, 156, 18);
  border-top: 1px solid transparent;
}



.menu_about_card:nth-child(2),
.menu_about_card:nth-child(4){
  border-top: 1px solid rgb(243, 156, 18);
  border-right: 1px solid rgb(243, 156, 18);
  border-left: 1px solid rgb(243, 156, 18);
  border-bottom: 1px solid transparent;
}

.video_container{
  position: relative;
  width: 100%;
  background: rgb(14, 19, 23);
  padding-top: 55%;
}

.video_container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}



.section_blogs_content p{
  color: rgb(243, 156, 18);
  font-size: 40px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.6px;
  text-align: left;
}

.section_blogs_content h2 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0.6px;
  text-align: left;
}
.blogs_card{
  background: rgb(22, 27, 33);
  position: relative;
  padding-bottom: 36px;
}
.blogs_card h2{
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-align: left;
  margin-top: 22px;
  line-height: 1;
}
.blogs_card p{
  color: rgb(193, 153, 118);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-align: left;
  margin-top: 9px;
  line-height:3;
}
.blogs_card a{
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.6px;
  text-align: left;
  margin-top: 16px;
}
.blogs_card span{
  color: rgb(193, 153, 118);
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  bottom: 5%;
  right: 10%;
  cursor: pointer;
}

.reservation{
  background: rgb(22, 27, 33);
  transition: 0.3s ease;
}

.reservation h1{
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.6px;
  text-align: left;
  color: white;
}

.reservation h1 span {
  color: rgb(243, 156, 18);
}

.reservation input {
  background: transparent;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.6px;
  text-align: left;
  outline: none;
  height: 52px;
}
.reservation input:hover {
  border-bottom: 1px solid rgb(243, 156, 18);
}

.reservation_info input{
  width: 418px;
}
.reservation_info2 input{
  width: 277px;
}

.reservation input::placeholder{
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.6px;
  text-align: left;
  outline: none;
}


.reservation button{
  padding: 20px 59px;
  border-radius: 29px;
  background: rgb(243, 156, 18);

  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.4px;
  text-align: left;
  transition: 0.3s ease;
}

.reservation button:hover{
  box-shadow: 0 0 10px rgb(243, 156, 18);
  transform: scale(1,1);
}



footer{
  background: linear-gradient(180.00deg, rgba(14, 19, 23, 0) -42.448%,rgb(14, 19, 23) 94.994%), url("/images/footer_bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
footer ul{
  display: flex;
  flex-direction: column;
}

.footer_content ul li{
  display: flex;
  gap: 10px;
}
footer ul li a{
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.6px;
  text-align: left;
}

.footer_content h2{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.6px;
  text-align: left;
}

footer .middle_content h2{
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 400;
  line-height: 67px;
  letter-spacing: 0.6px;
  text-align: left;
}

.working_hours p{
  font-size: 12px;
  font-weight: 400;
  line-height: -1px;
  letter-spacing: 0.6px;
  text-align: right;
  color: white;
}

.working_hours span{
  color: rgb(243, 156, 18);
}